# Some of aciidz' early commits didn't have his last initial, make it consistent
Hayden K <imaciidz@gmail.com>

# SST maintainer is an idiot who does --author manually and misremembers emails
Matthew Wozniak <sirtomato999@gmail.com> <sirtomato99@gmail.com>
